.logo-header {
	width: 100%;
}

.bg-white-header {
	background: #fff;
}

.navbar-header {
	padding: 1.5rem 1rem !important;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	&.navbar-shrink{
		padding: 1rem 1rem !important;
		-webkit-box-shadow: 0px 3px 19px 0 rgba(65, 69, 72, 0.54);
		box-shadow: 0px 3px 19px 0 rgba(65, 69, 72, 0.54);
	}
	.nav-item {
		position: relative;
		margin-right: 20px;

		.nav-link {
			color: #77848F!important;
			font-weight: bold;
			font-size: 14px;
	    line-height: 16px;

    	&.dropdown-toggle {
    		position: relative;

    		&::after {
    			position: relative;
    			border-top: .5em solid;
			    top: 3px;
			    margin-left: 10px;

			    @media (max-width: 991px) {
			    	position: absolute;
			    	right: 15px;
			    	top: 50%;
			    	transform: translateY(-50%);
			    	-webkit-transform: translateY(-50%);
			    	-moz-transform: translateY(-50%);
			    	-ms-transform: translateY(-50%);
			    	-o-transform: translateY(-50%);
			    }
    		}
    	}

    	&.logout {
				color: #ED7279!important;

				&.mobile {
					display: none;
					@media (max-width: 991px) {
						display: block;
					}
				}
			}
		}

		&:last-child {
			margin-right: 0;
		}

		.dropdown-menu {
			border: none;
			border-radius: 0;
			padding: 0;
			margin-top: 27px;
			left: auto;
			right: 0;

			.dropdown-item {
				font-size: 14px;
				line-height: 16px;
				padding-top: 12px;
				padding-bottom: 12px;
				text-align: left;
				color: #696969;
				font-weight: 700;
				border-bottom: 1px solid #CCCCCC;

				&:hover, &:focus, &:active {
					color: #fff;
					background: #8BC24A;
					transition: 0.3s;
					-webkit-transition: 0.3s;
					-moz-transition: 0.3s;
					-ms-transition: 0.3s;
					-o-transition: 0.3s;
				}

				&:first-child {
					@media (max-width: 991px) {
				   	border-top: 1px solid #CCCCCC;
				  }
				}

				&:last-child {
					border-bottom: none;
				}

				&:nth-last-child(2) {
					@media (max-width: 991px) {
						border-bottom: none;
					}
				}

				&.logout {
					color: #ED7279;
					&.desktop {
						@media (max-width: 991px) {
							display: none;
						}
					}
				}

				@media (max-width: 991px) {
			   	text-align: left;
			   	padding-left: 40px;
			   	padding-right: 40px;
			  }
			}

			&.show {
				@media (max-width: 991px) {
		    	margin-top: 0;
		    }
			}
		}

		&.dropdown {
			&.show {
				&::after {
			    content: '';
			    background: rgba(0, 0, 0, 0.2);
			    width: 100%;
			    height: 7px;
			    display: block;
			    position: absolute;
			    bottom: -26px;

					@media (max-width: 991px) {
						content: none;
					}
				}

				&.account {
					&::after {
						right: 0;
					}
				}
			}

			&.account {
				position: relative;
				display: table;
				margin-right: 0;

				.avatar-header {
					width: 30px;
					height: 30px;
					border-radius: 50px;
					display: table-cell;
					vertical-align: middle;
					border: 1px solid #fff;

					@media (max-width: 991px) {
						// display: inline-block;
						// vertical-align: none;
						margin-left: 20px;
					}
				}

				.avatar-name {
					display: table-cell;
					padding-top: 0;
    				padding-bottom: 0;
    				vertical-align: middle;

    			@media (max-width: 991px) {
						// display: inline-block;
						// vertical-align: none;
					}
				}

				&:hover {
					&::after {
						right: 0;
					}
				}

				@media (max-width: 991px) {
					display: block;
				}
			}

			&.border {
				border: 1px solid;

				&:hover {
					&:after {
						content: none;
					}
				}
			}
		}

		&:hover {
			&::after {
				content: '';
				background: rgba(0, 0, 0, 0.2);
				width: 100%;
				height: 7px;
				display: block;
				position: absolute;
				bottom: -15px;

				@media (max-width: 991px) {
					content: none;
				}
			}
		}

		&.group {
			&:hover {
				&::after {
					content: none;
				}
			}

			@media (max-width: 991px) {
				padding: 0 20px;
			}
		}

		@media (max-width: 991px) {
			margin-right: 0;
			border-bottom: 1px solid #CCCCCC;
		}
	}

	.navbar-toggler {
		border: none;

		.navbar-toggler-icon {
			// background-image: url('images/menumb.svg');
		}

		&:focus, &:hover, &:active {
			outline: 0;
		}
	}

	.navbar-brand { display: table; margin: auto; }

	.navbar-collapse {
		@media (max-width: 991px) {
			background: #fff;
		}

		.nav-link {
			@media (max-width: 991px) {
				color: #696969!important;
				padding: 12px 20px;
			}
		}
	}

	@media (max-width: 991px) {
		// padding-bottom: 0!important;
    	padding-left: 0!important;
    	padding-right: 0!important;
	}
}

.item-group-header {
	position: relative;
	display: inline-block!important;
	padding-left: 5px!important;
    padding-right: 5px!important;

    &:hover {
    	&::after {
    		content: '';
    		background: rgba(0, 0, 0, 0.2);
    		width: 100%;
    		height: 7px;
    		display: block;
    		position: absolute;
			bottom: -15px;
			
			@media (max-width: 991px) {
				content: none;
			}
		}
    }

    @media (max-width: 991px) {
    	&:first-child {
    		padding-left: 0!important;
    	}
    }
}

.breakline-header {
	color: #fff;
	
	@media (max-width: 991px) {
		color: #696969;
	}
}

.select-header {
	margin-left: 40px;
	height: 40px;

	> div {
		height: 40px!important;

		> div {
			border: 1px solid #fff!important;
			background: rgba(0, 0, 0, 0.1);
			border-radius: 5px;
			-webkit-border-radius: 5px;
			-ms-border-radius: 5px;
			-moz-border-radius: 5px;
			-o-border-radius: 5px;
			display: table-cell;

			> div {
				height: auto!important;
    		line-height: 40px!important;
				border-top: none!important;

				@media (max-width: 991px) {
					line-height: 32px!important;
					padding: 0 30px !important;
				}
			}

			> button {
				padding-top: 0!important;
				padding-bottom: 0!important;
				top: 0!important;
				width: 40px!important;
    		height: 40px!important;

    		@media (max-width: 991px) {
					width: 32px!important;
    			height: 32px!important;
				}
			}

			@media (max-width: 991px) {
				border: none!important;
			}
		}

		@media (max-width: 991px) {
			height: 32px!important;
			border: 1px solid #fff;
			background: rgba(0, 0, 0, 0.1);
    	border-radius: 5px;
    	-webkit-border-radius: 5px;
    	-moz-border-radius: 5px;
    	-ms-border-radius: 5px;
    	-o-border-radius: 5px;
		}
	}

	&.mobile { 
		position: relative;
		display: none;
		margin-left: 0;

		.posSymbolMenu {
		width: 13px;
	    height: 16px;
	    position: absolute;
	    top: 50%;
	    left: 8px;
	    transform: translateY(-50%);
	    -webkit-transform: translateY(-50%);
	    -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	    -o-transform: translateY(-50%);
	    background: url(./images/posiion-symbol.svg) no-repeat;
	    background-size: cover;
	    background-position: center;
		}

		@media (max-width: 991px) {
			display: inline-block;
			padding-right: 12px;
		}
	}

	&.desktop {
		@media (max-width: 991px) {
			display: none;
		}
	}

	@media (max-width: 991px) {
		height: 32px;
	}

	> div > div > button > div > svg {
		height: 27px!important;
    width: 27px!important;
		margin-left: 4px;
	}
}

span[role="menuitem"] {
	> div {
		> div {
			padding: 0 18px!important;
			> div {
    			color: #fff !important;
    			font-weight: 700;
			}
		}

		&:hover, &:active, &:focus {
			background: rgba(0, 0, 0, 0.2) !important;
		}
	}
}

div[role="menu"] {
	background: #8BC24A!important;
}

div[role="presentation"] {
	border: 1px solid #fff;
	border-radius: 5px;
}

.container-header {
  @media (min-width: 576px) and (max-width: 991px){
  		max-width: 100%!important;
	}
}

.acc-header {
	display: table;
	width: 100%;
	padding: 0 20px 0 0;
	text-decoration: none!important;


	&.dropdown-toggle {
		position: relative;
		color: #fff;

		&:after {
			position: absolute;
	    right: 10px;
	    top: 50%;
	   	border-top: .45em solid;
	    border-right: .25em solid transparent;
	    border-left: .25em solid transparent;

	    transform: translateY(-50%);
	    -webkit-transform: translateY(-50%);
	    -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	    -o-transform: translateY(-50%);

	    @media (max-width: 991px) {
	    	right: 15px;
	    }
		}

		@media (max-width: 991px) {
			color: #696969;
		}
	}

	@media (max-width: 991px) {
		padding: 8px 20px;
	}
}