.box-signup {
	display: table;
	padding: 40px 100px;
	margin: auto;
	margin-top: 70px;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);

	.title {
		color: #383838;
		font-size: 32px;
		line-height: 38px;
		text-align: center;
	}

	.link {
		display: block;
		color: #696969;
		font-size: 12px;
		line-height: 14px;
		
		&.center {
			text-align: center;
		}
	}

	.text-normal {
		margin: auto;
		margin-bottom: 30px;
		font-size: 11px;
		line-height: 12px;
		max-width: 300px;
		text-align: center;

		.link-text {
			color: #383838;
		}
	}

	@media (max-width: 640px) {
		padding: 40px;
	}

	@media (max-width: 480px) {
		padding: 40px 35px;
		margin-top: 60px;
	}

	@media (max-width: 375px) {
		margin-left: 4px;
		margin-right: 4px;
	}

	@media (max-width: 360px) {
		padding: 40px 16px;
	}
}

.sign-groupbtn {
	margin-top: 40px;
	margin-bottom: 15px;

	.button-link {
		display: block;
		font-size: 18px;
		line-height: 21px;
		color: #fff;
		text-align: center;
		text-decoration: none;
		padding: 14px 28px;
		border-radius: 1000px;

		&.login {
			background: #8BC24A;
			font-weight: 700;
			text-transform: uppercase;
		}

		&.face {
			background: #4267B2;
			font-weight: normal;
		}

		&:hover, &:focus, &:active {
			opacity: 0.8;
			transition: .7s;
		}
	}
	.text {
		display: block;
		color: #000;
		padding: 16px 0;
		font-size: 12px;
		line-height: 14px;
		text-align: center;
	}
}

.field-signup {
	@media (max-width: 480px) {
		width: 280px!important;
	}
}